@using Eshop2.Models.OrderViewModels
@model OrderLoginViewModel

@{ 
    ViewData["Title"] = "Přihlášení k objednávce";
}

<h2>Chcete se přihlásit?</h2>



    <p class="text-center">
        Nemáte zde účet? <a>Zaregistrujte se.</a>
    </p>
    <p class="text-center">
    <a asp-action="Register" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Nakoupit bez registrace.</a>
</p>
   
