@using Eshop2.Models.OrderViewModels
@model OrderLoginViewModel

@{
    ViewData["Title"] = "Přihlášení k objednávce";
}

<h2 class="bottom-padding">Chcete se přihlásit?</h2>

<div class="row partiallogin">
    <div class="col-md-4 partialloginpart">
        @Html.Partial("~/Views/Shared/_LoginPartial.cshtml", new LoginViewModel(), ViewData)
    </div>
    <div class="col-md-4 partialloginpart">
        <a>
            <img src="~/images/vectorpaint.svg" /><p class="text-center"> Nemáte zde účet? Zaregistrujte se.</p>
        </a>
    </div>
    <div class="col-md-4 partialloginpart">
        <p class="text-center">
            <a asp-action="Register" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]"><img src="~/images/fast-delivery.svg" /><p class="text-center">Nakoupit bez registrace</p>
        </a>
        </p>
    </div>

</div>