
@{
    ViewData["Title"] = "Shrnutí";
}
<h2 class="bottom-padding">Rekapitulace</h2>
<div class="row bottom-padding">
    <div class="col-md-6">
        <p>Vyzvednutí osobně na prodejně</p>
        <p>Platba kartou ihned</p>
        <p>Celková cena objednávky: 698 Kč</p>
    </div>
    <div class="col-md-6 summary-item">
        <div class="col-md-5">
            <p class="text-indent"><strong>Harry Potter</strong></p>
        </div>
        <div class="col-md-5">
            <p>Joanne K. Rowling</p>
        </div>
        <div class="col-md-2">
            399,-
        </div>
    </div>
</div>