@{
    ViewData["Title"] = "Registrace";
}
<h2 class="title-register">@ViewData["Title"]</h2>

<div class="row">

    <div class="col-lg-8 form-group col-centered">
        <form>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" for="name">Jméno</label>
                    <input class="form-control" type="text" id="name" />
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" for="sur">Příjmení</label>
                    <input class="form-control" type="text" id="sur" />
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-12 col-centered">
                    <label class="text-indent" for="mail">E-mail</label>
                    <input class="form-control" type="email" id="mail" />
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" for="pass">Heslo</label>
                    <input class="form-control" type="password" id="pass" />
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" for="passAgain">Heslo znovu</label>
                    <input class="form-control" type="password" id="passAgain" />
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" for="street">Ulice</label>
                    <input class="form-control" type="text" id="street" />
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" for="zip">PSČ</label>
                    <input class="form-control" type="number" id="zip" />
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" for="city">Město</label>
                    <input class="form-control" type="text" id="city" />
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" for="state">Stát</label>
                     <!-- In case of remaking layout dont change this cycle-->
                    <select class="form-control" id="state">
                        @{ string[] city = new string[] { "Česká republika", "Deutschland", "England", "France", "Slovenská republika" };
                            for (int i = 0; i < city.Length; i++)
                            {
                                <option>@city[i]</option>
                            }
                        }

                    </select>
                </div>
            </div>
            <div class="row text-center">
                <button id="register-button" class="btn btn-primary" type="submit">Registrovat se</button>
            </div>
        </form>
    </div>

</div>

