@using TestWeb.Models.HomeViewModels
@using Trainee.Business.DAL.Entities
@using Trainee.Catalogue.DAL.Entities
@using Trainee.Business.Business.Enums
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@{ 
    FrontPageItem item = Model.Slots[1].Item;
}
<h2>@item.Name</h2>
<div class="row">
    @await Component.InvokeAsync("Frontpage", new { item = item})
</div>

@{
    item = Model.Slots[2].Item;
}
<h2>@item.Name</h2>
<div class="row">
    @await Component.InvokeAsync("Frontpage", new { item = item })
</div>
<div class="index-commercial">
    <img src="~/images/index-commercial.png" alt="book commercial" />
</div>
@{
    item = Model.Slots[3].Item;
}
<h2>@item.Name</h2>
<div class="row">
    @await Component.InvokeAsync("Frontpage",  new { item = item })
</div>