@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1>Vítejte na nejlepší eshopu na celém světě.</h1>
        <p>
            Najdete tady opravdu spousty věcí. V našem týmu je Gabča, Bětka. Kuba, Michal a Míla :)
        </p>
    </div>
</div>
