@{ 
    ViewData["Title"] = "Doprava a platba";
}

<h2>@ViewData["Title"]</h2>

<h3>Doprava</h3>

Podle vaší polohy v galaxii a finančních možností můžete zvolit následující způsoby dopravy:
<ul>
    @foreach (Shipping s in Model.Shipping)
    {
        <li>@s.Name - @s.Price</li>
    }
</ul>

<h3>Platba</h3>

<ul>
    @foreach (Payment p in Model.Pament)
    {
        <li>@p.Name</li>
    }
</ul>