
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


   <!-- PATIÈKA -->
<div class="footer">
	<div class="row">
		<div class="col-md-6">
			<a href=""><p>Doprava a platba</p></a>
			<a href=""><p>Obchodní podmínky</p></a>
			<a href=""><p>Bezpeèné nakupování</p></a>
		</div>
		<div class="col-md-6 text-right">
			<p>
				<strong>Fantastic Books</strong><br />
				Guttenbergova 5, Liberec<br />
				IÈ: 285 64 952<br />
				+420 531 648 523<br />
				ahoj@fantasticbooks.cz
			</p>
		</div>
	</div>
</div>
    </div>