
@{
    ViewData["Title"] = "CheckBoxTest";
}

<h2>CheckBoxTest</h2>
<form method="get">
    <input type="checkbox" name="category" value="fantasy" /> Fantasy
    <input type="checkbox" name="category" value="Scifi" /> Sci Fi
    <input type="submit" value="Odeslat"/> 

</form>

