@model RegisterViewModel
@using Trainee.Core.DAL.Entities;
@{
    ViewData["Title"] = "Registrace";
}

<h2 class="title-register">@ViewData["Title"]</h2>

<div class="row">

    <div class="col-lg-8 form-group col-centered">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="Name">Jméno</label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="Surname">Příjmení</label>
                    <input class="form-control" asp-for="Surname" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-12 col-centered">
                    <label class="text-indent control-label" asp-for="Email">E-mail</label>
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="Password">Heslo</label>
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="ConfirmPassword">Heslo znovu</label>
                    <input class="form-control" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="Street">Ulice</label>
                    <input class="form-control" asp-for="Street" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="ZIP">PSČ</label>
                    <input class="form-control" asp-for="ZIP" />
                    <span asp-validation-for="ZIP" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="City">Město</label>
                    <input class="form-control" asp-for="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <label class="text-indent" asp-for="CountryCode">Stát</label>
                    <select class="form-control" asp-for="CountryCode">
                        @{
                            foreach (Country c in Model.Coutries)
                            {
                                <option value="@c.CountryCode">@c.Name</option>
                            }
                        }

                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>
            <div class="row text-center">
                <button id="register-button" class="btn btn-primary" type="submit">Registrovat se</button>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
