// Obecná definice

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f9ff;
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    .body-line {
        margin-top: 25px;
    }
}

hr {
    margin: 0;
    padding: 1px;
}

img {
    max-width: 100%;
    height: auto;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide 
input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

// Row

.row-centered {
    text-align: center;
}

/* Hlavička*/

#hlavicka {
    padding-top: 15px;
    padding-right: 20px;
    margin: 0 15px;
}

#hlavicka p {
    margin-top: 5px;
}

.logo {
    width: 100%;
    position: relative;
    top: 30px;
}

#hledat {
    width: 100%;
    position: relative;
    top: 40px;
    height: 45px;
    border-radius: 4px;
}

input::-webkit-input-placeholder {
    padding: 10px !important;
    font-size: 120%;
}

input:-moz-placeholder { /* Firefox 18- */
    padding: 10px !important;
    font-size: 120%;
}

input::-moz-placeholder { /* Firefox 19+ */
    padding: 10px !important;
    font-size: 120%;
}

input:-ms-input-placeholder {
    padding: 10px !important;
    font-size: 120%;
}

#basket-user {
    padding-top: 15px;
    font-size: 15px;
}

#basket-user a {
    color: #555555;
}


/*Menu*/

#menu-item {
    height: 50px;
    font-size: 17px;
    padding: 13px 0 10px 10px;
    display: block;
    cursor: pointer;
    color: #4484ce;
    border-bottom: 1px solid #e8e8e8;
}

#menu-item a:hover {
    text-decoration: none;
    font-size: 110%;
}

#menu-item img {
    height: 30px;
    margin-right: 5px;
}

/*Hlavní sekce*/

#main-section {
    margin: 0;
    padding: 0;
}

#render-body {
    padding: 20px;
}

// Patička

.footer {
    padding: 20px 50px;
    background-color: #4484ce;

    a {
        color: #e8e8e8;
    }

    a:hover {
        color: #444444;
        text-decoration: none;
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        .footer-right {
            text-align: center;
            padding-top: 15px;
        }

        .footer-left {
            text-align: center;
        }
    }
}

// Images 

.img-profile {
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

// Profile

.profile {
    text-align: center;

    .profile-left {
        font-size: 18px;
        text-align: left;
        margin-left: 30px;
    }

    .profile-right {
        text-align: center;
        margin-top: 25px;
    }

    .profile-title {
        font-size: 38px;
        text-align: center;
        padding-bottom: 25px;
    }

    .profile-item {
        font-size: 20px;
        font-weight: bold;
    }

    .profile-align {
        text-align: right;
    }

    .second {
        padding-top: 2.5px;
    }

    .form-profile {
        margin: 15px;
    }

    .change-top {
        margin-top: 150px;
        text-align: center;
    }

    .form-control-file {
        width: 65%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    } 

    .profile-country {
        margin-left: 5px;
    }
    
    @media screen and (max-width: 768px) {
        .profile-info {
            display: none;
        }
    }
}

// Buttons

.btn-profile {
    margin-right: 15px;
    margin-top: 15px;
    width: 150px;

    @media screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
}