/* MAIN COLORS */

$background-color: #ffffff;
$text-color: #4379C5;
$primary-color: #2F3293;
$secondary-color: #e54a5a;
$border-color: #dddddd;



/**********/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: $background-color;
    color: $text-color;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding-bottom: 20px;
}

a {
    color: $primary-color;
}


body .body-line {
    margin-top: 25px;
}

hr {
    margin: 0;
    padding: 1px;
}

img {
    max-width: 100%;
    height: auto;
}

.no-padding {
    padding: 0;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

.text-indent {
    padding-left: 15px;
}

.bottom-padding {
    padding-bottom: 25px;
}

.bold {
    font-weight: bold;
}

.close-tab {
    border: none;
    background-color: transparent;
    padding: 5px 5px 0px 5px;
    margin: 4% -8.9%;
    float: right;
}

.main-background {
    background-color: $background-color;
}

.italics {
    font-style: italic;
}

.text-warning {
    color: red;
}

.text-success {
    color: forestgreen;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row-centered {
    text-align: center;
}

/*  Top bar */
#hlavicka {
    padding-top: 15px;
    padding-right: 20px;
    margin: 0 15px;
}

#hlavicka p {
    margin-top: 5px;
}

.logo {
    width: 100%;
}


@media screen and (max-width: 993px) {
    .logo {
        width: 30%;
        margin: 0 auto;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 5px;
    }
}

#hledat {
    width: 80%;
    height: 45px;
    border-radius: 4px;
}

@media screen and (max-width: 767px) {
    #hledat {
        margin-bottom: 5px;
    }
}
/* sets indentation of "hledat" input placeholder in all browsers*/
input::-webkit-input-placeholder {
    padding: 10px !important;
    font-size: 120%;
}

input:-moz-placeholder {
    /* Firefox 18- */
    padding: 10px !important;
    font-size: 120%;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    padding: 10px !important;
    font-size: 120%;
}

input:-ms-input-placeholder {
    padding: 10px !important;
    font-size: 120%;
}

.basket-user {
    padding: 0px 0 0 0;
    font-size: 15px;

    img {
        width: 50px;
        height: 60px;
    }
}


@media screen and (max-width: 767px) {
    .basket-user {
        margin: 0 auto;
        position: relative;
    }
}


.basket-user-btn {
    border: none;
    padding: 4px 4px 4px 4px;
    margin: 5px;
    color: $text-color;
    /*button {
        outline: none;

        :focus {
            outline : 0 !important;
        }

        :active {
            outline: none;
        }

        :visited {
            outline: none;
        }

        img {
            width: 50px;
        }
    }*/
}

.basket-user-btn:focus {
    background-color: #d8e8ff;
    outline: 0 !important;
}

/*Login container*/
.login-container {
    position: absolute;
    right: 45px;
    width: 450px;
}


@media screen and (min-width: 1300px) {
    .login-container {
        right: 10%;
    }
}


@media screen and (max-width: 600px) {
    .login-container {
        width: 80%;
        margin: 0 10px;
    }
}

@media screen and (max-width: 450px) {
    .login-container {
        width: 90%;
        left: 0px;
        right: 0px;
    }
}

#login {
    width: 100%;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 1;
}


#login form {
    padding: 0 20px;
}

#login-page-container {
    width: 380px;
}

@media screen and (max-width: 678px) {
    #login-page-container {
        width: 100%;
    }
}

#login-error {
    margin-top: 40px;
}
/*Signed in user menu*/
#signedUserMenu {
    a {
        background-color: transparent;
    }

    button:hover {
        text-decoration: none;
    }
}
/*Main section*/
#main-section {
    margin: 0;
    padding: 0;
}
/*Cathegories*/
.menu-item {
    height: 50px;
    font-size: 15px;
    padding: 13px 0 10px 10px;
    display: block;
    cursor: pointer;
    color: $text-color;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
}

.menu-item a:hover {
    text-decoration: none;
    font-weight: bold;
}

.menu-item img {
    height: 30px;
    margin-right: 10px;
}
/*Layout*/
#layout {
    margin-bottom: 40px;
}
/*Footer */
.footer {
    padding: 20px 50px;
    background-color: $primary-color;
    color: $background-color;
}

.footer a {
    color: $background-color;
}

.footer a:hover {
    color: $text-color;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 994px) {
    .footer {
        text-align: center !important;
    }
}

@media screen and (max-width: 994px) {
    .footer .text-right {
        text-align: center;
        margin-top:10px;
    }
}
/*ACCOUNT*/
/*Registration*/
.form-row {
    margin-bottom: 20px;
}

.register-button {
    margin: 20px 0;
}

.text-small {
    margin-top: 15px;
    text-align: center;
}

.red-star {
    color: red;
    font-size: 20px;
}
/*Details*/
.img-profile {
    max-width: 150px;
    border-radius: 10px;
    text-align: center;
}

.profile {
    text-align: center;
}

.profile .profile-left {
    text-align: left;
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .profile-left {
        float: left;
    }
}

@media screen and (max-width: 570px) {
    .profile-left {
        float: none;
    }
}

.profile .profile-right {
    text-align: center;

    img {
        margin-bottom: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .profile-right {
        float: left;
    }
}

.profile .profile-title {
    text-align: center;
    padding-bottom: 25px;
}

.profile .profile-item {
    font-weight: bold;
}

.profile .profile-align {
    text-align: right;
}

.profile .form-profile {
    margin: 15px;
}

.profile .change-top {
    margin-top: 30px;
    text-align: center;
}

.profile .text-small {
    padding: 15px;
    text-align: center;
}

.profile .form-control-file {
    margin-right: 0;
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .profile .form-control-file {
        width: 100%;
    }
}

.profile .profile-country {
    margin-left: 5px;
}

@media screen and (max-width: 767px) {
    .profile .profile-info {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .responsive-col {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 692px) {
    .responsive-col {
        width: 100%;
        float: none;
    }
}


.btn-ulozit {
    margin-bottom: 15px;
    width: 150px;
}

@media screen and (max-width: 767px) {
    .btn-ulozit {
        margin-top: 15px;
    }
}

#edit-button a {
    color: white;
    background-color: $primary-color;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

#cancel-button a {
    color: white;
    background-color: $secondary-color;
    text-align: center;
    padding: 8px 55px;
    border-radius: 5px;
}

/* User details - All orders*/

.order-list-heading {
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0;
}

@media screen and (max-width: 1200px) {
    .order-list-heading {

        div {
            width: 20%;
            float: left;
        }
    }
}

.list-orders {
    padding: 10px;
    font-weight: bold;

    button {
        border: solid 1px $border-color;
        border-radius: 5px;
        background-color: $background-color;
    }
}

@media screen and (max-width: 1200px) {
    .list-orders {

        div {
            width: 20%;
            float: left;
        }
    }
}


.list-products {
    padding: 10px 20px;
}

@media screen and (max-width: 1200px) {
    .list-products {

        div {
            width: 25%;
            float: left;
        }
    }
}

/*CATALOGUE*/
/*Book profile*/

.main-cathegory {
    font-size: 130%;
}

.book-img {
    width: 200px;
    padding: 20px;
}

.details-table {
    margin: 5px;

    td {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .details-table {
        margin-bottom: 10px;
    }
}

.product-count {
    width: 40px;
    padding-left: 10px;
    border: solid 1px $border-color;
    border-radius: 5px;
    margin: 0 5px;
}

@media screen and (max-width: 1200px) {
    .product-count {
        margin: 0;
    }
}

.product-count-decrease {
    cursor: pointer;
    padding: 5px;
}

.product-count-increase {
    cursor: pointer;
    padding: 5px;
}

.btn-addtocart {
    margin-bottom: 10px;
}

.btn-addtocart:disabled {
    cursor: default
}

.dialog-cart {
}

.review-btn {
    margin-bottom: 10px;
}

/*  Rating system */
.rating {
    img {
        width: 150px;
    }
}

.rating-textarea {
    width: 300px;
    margin-left: 50px;
    margin-bottom: 30px;
}


.user rating {
    img {
        width: 50px;
    }
}


#rating {
    margin: 10px 0;

    span {
        cursor: pointer;
        font-size: 20px;
        padding: 0 2px;
        color: #A7A7A7;
        opacity: .8;
        transition: all 150ms;
        display: inline-block;
    }

    span.hover {
        color: #ffa700;
        opacity: 1;
        text-shadow: 0 0 30px #ffc;
    }
}


#summaryByMiloslavKrejza {
    margin: 0px 0 0 29px;
    position: relative;
    font-size: 25px;
}


/* Products catalogue */

.paging-span:hover {
    cursor: pointer;
}

#priceFilter {
    width: 90%;
    margin-top: 12px;
    margin-bottom: 21px;
}

.slider_tooltip {
    position: absolute;
    top: -8px;
    left: -2px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $border-color;
    background-color: $background-color;
    outline: none;
}

.filters {
    select {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 993px) {
    .filters {

        div {
            width: 33%;
            float: left;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 570px) {
    .filters {

        div {
            width: 100%;
            float: none;
        }
    }
}



.filter-btn {
    position: relative;
    top: 25px;
    height: 33px;
    width: 120px;
    margin-bottom: 12px;
}

@media screen and (max-width: 993px) {
    .filter-btn {
        top: 5px;
        margin-left: 80%;
    }
}

@media screen and (max-width: 570px) {
    .filter-btn {
        top: 5px;
        margin: 0 10px;
        float: left;
    }
}


.product {
    border: dashed 1px $border-color;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 5px;

    img {
        padding: 5px;
    }

    a {
        color: $text-color !important;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        color: $text-color !important;
        text-decoration: none;
    }
}

@media screen and (max-width: 1200px) {
    .product {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 570px) {
    .product {
        width: 100%;
        float: none;
    }
}

.book-title {
    height: 60px;
}

.book-authors {
    height: 40px;
}

.book-picture {
    height: 120px;
}

.paging {
    margin-right: 0px;
    margin-left: 0px;
}

/* ORDER */
/* Cart */
.cart-item {

    img {
        max-height: 100px;
    }

    a {
        color: $text-color;
    }
}

@media screen and (max-width: 993px) {
    .responsive-cart {
        width: 20%;
        float: left;
        height: 30px;
    }
}

@media screen and (max-width: 677px) {
    .responsive-cart {
        width: 45%;
        float: left;
    }
}

.remove {
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
.order-buttons-div {
    a {
        float: left;
    }
}

}

@media screen and (max-width: 390px) {
    .order-buttons-div {
        a {
            float: none;
            margin-left: 15%;
        }
    }
}

.order-button {
    position: absolute;
    right: 50px;
}

@media screen and (max-width: 390px) {
    .order-button {
        position: relative;
        right: auto;
        margin-top: 20px;
        margin-left: 15%;
    }
}

.triangle-left {
    margin-right: 5px;
}

.triangle-right {
    margin-left: 5px;
}

.total-price {
    padding-right: 50px;
    font-size: 16px;
    font-weight: bold;
}

.empty-cart {
    font-size: 16px;

    h4 {
        padding-bottom: 50px;
    }

    img {
        max-height: 400px;
        border-radius: 10px;
    }
}

/* Redirection*/

.redirection {
}

/* Order */
.order {
    width: 80%;
    margin: 0 auto;
}


.order-items {
    border: solid 1px $border-color;
    border-radius: 10px;
    padding: 10px 0 5px 15px;
}


.order-items-heading {
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 20px;
}

@media screen and (max-width: 994px) {
    .order-items-row {
        border-bottom:solid 1px $border-color;
        margin-right: 0;   
        padding: 10px 0;
    }
}

@media screen and (max-width: 994px) {
    .order-book-name {
        font-weight: bold;
    }
}

.order-price {
    font-weight: bold;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 20px;
}

.order-radio {
    padding-left: 30px;
}


/* Order login */
.orderlogin {
    margin: 0 20px;
}


.partiallogin {
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    width: 45%;

    label {
        margin-left: 35px;
    }

    input {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 994px) {
    .partiallogin {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.register-container {
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 10px;

    p {
        padding-top: 25px;
    }

    img {
        margin: 0;
        height: 90px;
    }
}



/*Reviews*/

.user-rating {
    margin: 10px 0;

    img {
        height: 50px;
        float: left;
        margin-right: 5px;
    }
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}

.empty-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
}

.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
}


.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
    -webkit-text-stroke: 1px orange;
}
/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}

/* CONTACTS */

.map {
    border: solid 1px $border-color;
    height: 333px;
}

/* DIALOG - LEAVE ITEMS IN CART?*/
.ui-dialog {
    border: solid 1px $border-color !important;
    border-radius: 10px !important;
    padding: 5px !important;
}

.keep-button {
    background-color: $primary-color !important;
    border: solid 1px white !important;
    border-radius: 5px !important;
    color: white !important;
}

.erase-button {
    background-color: $secondary-color !important;
    border: solid 1px white !important;
    border-radius: 5px !important;
    color: white !important;
}

.ui-dialog-titlebar {
    background-color: $primary-color !important;
    border: solid 1px white !important;
    border-radius: 5px !important;
    color: white !important;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

/* FRONT  PAGE*/
.front-product {
    float: left;
    width: 16%;
    padding: 10px;
    border: solid 1px $border-color;
    border-radius: 10px;
    margin: 0 3px 10px 3px;

    img {
        padding: 5px;
    }

    a {
        color: $text-color !important;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        color: $text-color !important;
        text-decoration: none;
    }
}

@media screen and (max-width: 1200px) {
    .front-product {
        width: 33%;
        float: left;
    }
}

@media screen and (max-width: 570px) {
    .front-product {
        width: 100%;
        float: none;
        border-right: none;
    }
}

.front-book-title {
    height: 60px;
}

.front-book-authors {
    height: 60px;
}

.front-row {
    width: 95%;
    margin: 0 auto;
}

.front-image {
    border-radius:10px;
    margin-top: 10px;
}


/* BUTTON COLOR REWRITE*/

.btn-prim {
    color: #FFFFFF;
    background-color: #2F3293;
    border-color: #2F3293;
}

.btn-prim:hover,
.btn-prim:focus,
.btn-prim:active,
.btn-prim.active,
.open .dropdown-toggle.btn-prim {
    color: #FFFFFF;
    background-color: #2F3293;
    border-color: #2F3293;
}

.btn-prim:active,
.btn-prim.active,
.open .dropdown-toggle.btn-prim {
    background-image: none;
}

.btn-prim.disabled,
.btn-prim[disabled],
fieldset[disabled] .btn-prim,
.btn-prim.disabled:hover,
.btn-prim[disabled]:hover,
fieldset[disabled] .btn-prim:hover,
.btn-prim.disabled:focus,
.btn-prim[disabled]:focus,
fieldset[disabled] .btn-prim:focus,
.btn-prim.disabled:active,
.btn-prim[disabled]:active,
fieldset[disabled] .btn-prim:active,
.btn-prim.disabled.active,
.btn-prim[disabled].active,
fieldset[disabled] .btn-prim.active {
    background-color: #2F3293;
    border-color: #2F3293;
}

.btn-prim .badge {
    color: #2F3293;
    background-color: #FFFFFF;
}
