/* MAIN COLORS */
/**********/
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #ffffff;
  color: #4379C5;
  font-family: 'Montserrat', sans-serif; }

h2 {
  padding-bottom: 20px; }

a {
  color: #2F3293; }

body .body-line {
  margin-top: 25px; }

hr {
  margin: 0;
  padding: 1px; }

img {
  max-width: 100%;
  height: auto; }

.no-padding {
  padding: 0; }

.col-centered {
  float: none;
  margin: 0 auto; }

.text-indent {
  padding-left: 15px; }

.bottom-padding {
  padding-bottom: 25px; }

.bold {
  font-weight: bold; }

.close-tab {
  border: none;
  background-color: transparent;
  padding: 5px 5px 0px 5px;
  margin: 4% -8.9%;
  float: right; }

.main-background {
  background-color: #ffffff; }

.italics {
  font-style: italic; }

@media screen and (max-width: 992px) {
  .clear {
    clear: both; } }

.text-warning {
  color: red; }

.text-success {
  color: forestgreen; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Wrapping element */
  /* Set some basic padding to keep content from hitting the edges */ }
  input[type=number]::-webkit-inner-spin-button .body-content,
  input[type=number]::-webkit-outer-spin-button .body-content {
    padding-left: 15px;
    padding-right: 15px; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.row-centered {
  text-align: center; }

.option-cs {
  border-bottom: solid 1px #777777;
  font-weight: bold; }

/*  Top bar */
#hlavicka {
  padding-top: 15px;
  padding-right: 20px;
  margin: 0 15px; }

#hlavicka p {
  margin-top: 5px; }

.logo {
  width: 100%; }

@media screen and (max-width: 992px) {
  .logo {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px; } }

@media screen and (max-width: 400px) {
  .logo {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5px; } }

#hledat {
  width: 80%;
  height: 45px;
  border-radius: 4px; }

@media screen and (max-width: 767px) {
  #hledat {
    margin-bottom: 5px; } }

/* sets indentation of "hledat" input placeholder in all browsers*/
input::-webkit-input-placeholder {
  padding: 10px !important;
  font-size: 120%; }

input:-moz-placeholder {
  /* Firefox 18- */
  padding: 10px !important;
  font-size: 120%; }

input::-moz-placeholder {
  /* Firefox 19+ */
  padding: 10px !important;
  font-size: 120%; }

input:-ms-input-placeholder {
  padding: 10px !important;
  font-size: 120%; }

.basket-user {
  padding: 0px 0 0 0;
  font-size: 15px; }
  .basket-user img {
    width: 50px;
    height: 60px; }
  .basket-user button {
    padding-top: 9px; }

@media screen and (max-width: 767px) {
  .basket-user {
    margin: 0 auto;
    position: relative; } }

.basket-user-btn {
  border: none;
  padding: 4px;
  margin: 5px;
  color: #4379C5; }

.basket-user-btn:focus {
  background-color: #d8e8ff;
  outline: 0 !important; }

/*Login container*/
.login-container {
  position: absolute;
  right: 45px;
  width: 450px; }

@media screen and (min-width: 1300px) {
  .login-container {
    right: 10%; } }

@media screen and (max-width: 600px) {
  .login-container {
    width: 80%;
    margin: 0 10px; } }

@media screen and (max-width: 450px) {
  .login-container {
    width: 90%;
    left: 0px;
    right: 0px; } }

#login {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: none;
  position: absolute;
  z-index: 1; }

#login form {
  padding: 0 20px; }

#login-page-container {
  width: 380px; }

@media screen and (max-width: 678px) {
  #login-page-container {
    width: 100%; } }

#login-error {
  margin-top: 40px; }

/*Signed in user menu*/
#signedUserMenu a {
  background-color: transparent; }

#signedUserMenu button:hover {
  text-decoration: none; }

/*Main section*/
#main-section {
  margin: 0;
  padding: 0; }

/*Cathegories*/
.menu-item {
  height: auto;
  font-size: 15px;
  padding: 13px 0 3px 10px;
  display: block;
  cursor: pointer;
  color: #4379C5;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e8e8e8; }
  .menu-item a:hover {
    text-decoration: none;
    font-weight: bold; }
  .menu-item img {
    height: 30px;
    margin-right: 10px; }

.list-group-item:first-child {
  border-top: none; }

@media screen and (max-width: 992px) {
  .menu-item {
    float: left;
    width: 24%;
    border: solid 1px #dddddd;
    border-radius: 10px;
    text-align: center;
    padding: 7px 0 0 0;
    margin: 3px;
    height: auto; }
  .list-group-item:first-child {
    border-top: solid 1px #dddddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; } }

@media screen and (max-width: 730px) {
  .menu-item {
    width: 32%;
    height: auto; } }

@media screen and (max-width: 570px) {
  .menu-item {
    width: 48%;
    height: auto; } }

@media screen and (max-width: 377px) {
  .menu-item {
    width: 100%;
    height: auto; } }

/*Layout*/
#layout {
  margin-bottom: 40px; }

/*Footer */
.footer {
  padding: 20px 50px;
  background-color: #2F3293;
  color: #ffffff; }

.footer a {
  color: #ffffff; }

.footer a:hover {
  color: #4379C5;
  text-decoration: none;
  cursor: pointer; }

@media screen and (max-width: 992px) {
  .footer {
    text-align: center !important; } }

@media screen and (max-width: 992px) {
  .footer .text-right {
    text-align: center;
    margin-top: 10px; } }

/*ACCOUNT*/
/*Registration*/
.form-row {
  margin-bottom: 20px; }

.register-button {
  margin: 20px 0; }

.text-small {
  margin-top: 15px;
  text-align: center; }

.red-star {
  color: red;
  font-size: 20px; }

/*Details*/
.img-profile {
  max-width: 150px;
  border-radius: 10px;
  text-align: center; }

.profile {
  text-align: center; }

.profile .profile-left {
  text-align: left;
  font-size: 18px; }

@media screen and (max-width: 1200px) {
  .profile-left {
    float: left; } }

@media screen and (max-width: 570px) {
  .profile-left {
    float: none; } }

.profile .profile-right {
  text-align: center; }
  .profile .profile-right img {
    margin-bottom: 10px;
    padding: 10px; }

@media screen and (max-width: 1200px) {
  .profile-right {
    float: left; } }

.profile .profile-title {
  text-align: center;
  padding-bottom: 25px; }

.profile .profile-item {
  font-weight: bold; }

.profile .profile-align {
  text-align: right; }

.profile .form-profile {
  margin: 15px; }

.profile .change-top {
  margin-top: 30px;
  text-align: center; }

.profile .text-small {
  padding: 15px;
  text-align: center; }

.profile .form-control-file {
  margin-right: 0;
  padding-right: 0; }

@media screen and (max-width: 767px) {
  .profile .form-control-file {
    width: 100%; } }

.profile .profile-country {
  margin-left: 5px; }

@media screen and (max-width: 767px) {
  .profile .profile-info {
    display: none; } }

@media screen and (max-width: 1200px) {
  .responsive-col {
    width: 50%;
    float: left; } }

@media screen and (max-width: 692px) {
  .responsive-col {
    width: 100%;
    float: none; } }

.btn-ulozit {
  margin-bottom: 15px;
  width: 150px; }

@media screen and (max-width: 767px) {
  .btn-ulozit {
    margin-top: 15px; } }

#edit-button a {
  color: white;
  background-color: #2F3293;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px; }

#cancel-button a {
  color: white;
  background-color: #e54a5a;
  text-align: center;
  padding: 8px 55px;
  border-radius: 5px; }

/* User details - All orders*/
.list-orders {
  padding: 10px;
  font-weight: bold; }
  .list-orders button {
    border: solid 1px #dddddd;
    border-radius: 5px;
    background-color: #ffffff; }

@media screen and (max-width: 1200px) {
  .list-orders div {
    width: 20%;
    float: left; } }

@media screen and (max-width: 460px) {
  .list-orders {
    padding: 10px 0; }
    .list-orders div {
      width: 50%;
      text-align: center; } }

.list-products {
  padding: 10px 20px; }

@media screen and (max-width: 1200px) {
  .list-products div {
    width: 25%;
    float: left; } }

@media screen and (max-width: 460px) {
  .list-products div {
    width: 100%;
    clear: both;
    text-align: left; } }

/*CATALOGUE*/
/*Book profile*/
.main-cathegory {
  font-size: 130%; }

.book-img {
  width: 200px;
  padding: 20px; }

.details-table {
  margin: 5px; }
  .details-table td {
    padding-top: 6px;
    padding-bottom: 6px; }

@media screen and (max-width: 1200px) {
  .details-table {
    margin-bottom: 10px; } }

.product-count {
  width: 40px;
  padding-left: 10px;
  border: solid 1px #dddddd;
  border-radius: 5px;
  margin: 0 5px; }

@media screen and (max-width: 1200px) {
  .product-count {
    margin: 0; } }

.product-count-decrease {
  cursor: pointer;
  padding: 5px; }

.product-count-increase {
  cursor: pointer;
  padding: 5px; }

.btn-addtocart {
  margin-bottom: 10px; }

.btn-addtocart:disabled {
  cursor: default; }

.review-btn {
  margin-bottom: 10px; }

/*  Rating system */
.rating img {
  width: 150px; }

.no-rating {
  font-style: italic;
  font-size: 12px;
  height: 25px; }

.rating-textarea {
  width: 300px;
  margin-left: 50px;
  margin-bottom: 30px; }

.user rating img {
  width: 50px; }

#rating {
  margin: 10px 0; }
  #rating span {
    cursor: pointer;
    font-size: 20px;
    padding: 0 2px;
    color: #A7A7A7;
    opacity: .8;
    transition: all 150ms;
    display: inline-block; }
  #rating span.hover {
    color: #ffa700;
    opacity: 1;
    text-shadow: 0 0 30px #ffc; }

/* Products catalogue */
.paging-span:hover {
  cursor: pointer; }

.filters div {
  padding-left: 6px;
  padding-right: 6px; }

.filters select {
  margin-bottom: 10px; }

@media screen and (max-width: 992px) {
  .filters div {
    width: 33%;
    float: left;
    margin: 0 auto; } }

@media screen and (max-width: 570px) {
  .filters div {
    width: 100%;
    float: none; } }

.filters label {
  font-size: 12px; }

.price-filter-div input {
  border: none;
  width: 33px;
  margin: 0 1px; }

#priceFilter {
  padding: 0;
  margin-top: 10px; }

.filter-btn {
  position: relative;
  top: 25px;
  height: 33px;
  width: 120px;
  margin-bottom: 12px;
  margin-right: 5px; }

@media screen and (max-width: 992px) {
  .filter-btn {
    top: 5px;
    margin-left: 80%; } }

@media screen and (max-width: 570px) {
  .filter-btn {
    top: 5px;
    margin: 0 10px;
    float: left; } }

.show-filters {
  float: left; }

.show-filters-btn {
  height: 25px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding-top: 3px;
  padding-bottom: 3px; }
  .show-filters-btn :hover {
    background-color: #2F3293;
    color: #ffffff; }

.sorting div {
  float: right;
  margin: 0 10px 10px 0; }
  .sorting div label {
    font-size: 12px;
    margin-right: 5px; }
  .sorting div select {
    font-size: 12px;
    padding: 0;
    height: 25px;
    cursor: pointer; }

.product {
  border: dashed 1px #dddddd;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 5px; }
  .product img {
    padding: 5px; }
  .product a {
    color: #4379C5 !important;
    text-decoration: none;
    cursor: pointer; }
  .product a:hover {
    color: #4379C5 !important;
    text-decoration: none; }

@media screen and (max-width: 1200px) {
  .product {
    width: 50%;
    float: left; } }

@media screen and (max-width: 570px) {
  .product {
    width: 100%;
    float: none; } }

.book-title {
  height: 40px; }

@media screen and (max-width: 570px) {
  .book-title {
    height: auto; } }

.book-authors {
  height: 40px; }

@media screen and (max-width: 570px) {
  .book-authors {
    height: auto; } }

.book-picture {
  height: 120px; }

.paging {
  margin-right: 0px;
  margin-left: 0px; }

/* ORDER */
/* Cart */
.cart-item img {
  max-height: 100px; }

.cart-item a {
  color: #4379C5; }

@media screen and (max-width: 993px) {
  .responsive-cart {
    width: 20%;
    float: left;
    height: 30px; } }

@media screen and (max-width: 677px) {
  .responsive-cart {
    width: 45%;
    float: left; } }

.remove {
  color: red;
  cursor: pointer; }

@media screen and (max-width: 1200px) {
  .order-buttons-div a {
    float: left; }
  .order-buttons-div button {
    float: left; } }

@media screen and (max-width: 390px) {
  .order-buttons-div a {
    float: none;
    margin-left: 15%; } }

.order-button {
  position: absolute;
  right: 50px; }

@media screen and (max-width: 390px) {
  .order-button {
    position: relative;
    right: auto;
    margin-top: 20px;
    margin-left: 15%; } }

.triangle-left {
  margin-right: 5px; }

.triangle-right {
  margin-left: 5px; }

.total-price {
  padding-right: 50px;
  font-size: 16px;
  font-weight: bold; }

.empty-cart {
  font-size: 16px; }
  .empty-cart h4 {
    padding-bottom: 50px; }
  .empty-cart img {
    max-height: 400px;
    border-radius: 10px; }

/* Order login */
.orderlogin {
  margin: 0 20px; }

.partiallogin {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
  width: 45%; }
  .partiallogin label {
    margin-left: 35px; }
  .partiallogin input {
    width: 80%;
    margin: 0 auto; }

@media screen and (max-width: 992px) {
  .partiallogin {
    width: 100%;
    margin: 0 0 10px 0; } }

.register-container {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px; }
  .register-container p {
    padding-top: 25px; }
  .register-container img {
    margin: 0;
    height: 90px; }

/*Redirection*/
/* Order */
.order {
  width: 80%;
  margin: 0 auto; }

.order-items {
  border: solid 1px #dddddd;
  border-radius: 10px;
  padding: 10px 0 5px 15px;
  margin-bottom: 10px; }

.order-items-heading {
  margin-bottom: 10px;
  font-weight: bold;
  margin-left: 20px; }

@media screen and (max-width: 992px) {
  .order-items-row {
    border-bottom: solid 1px #dddddd;
    margin-right: 0;
    padding: 10px 0; } }

@media screen and (max-width: 992px) {
  .order-book-name {
    font-weight: bold; } }

.order-price {
  font-weight: bold;
  font-size: 14px;
  margin-right: 50px;
  margin-top: 20px; }

.order-radio {
  padding-left: 30px; }

/* Summary */
.summary-div {
  width: 80%;
  margin: 0 auto; }

@media screen and (max-width: 997px) {
  .summary-div .col-md-6 {
    width: 50%;
    float: left; } }

@media screen and (max-width: 570px) {
  .summary-div {
    width: 100%; }
    .summary-div div {
      width: 100%;
      clear: both; } }

.summary-shipping input {
  visibility: hidden; }

.price {
  margin-left: 35px;
  margin-top: 5px;
  font-weight: bold; }

/*Reviews*/
.user-rating {
  margin: 10px 0; }
  .user-rating img {
    height: 50px;
    float: left;
    margin-right: 5px; }

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d; }

.empty-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt; }

.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt; }

.empty-stars:before {
  -webkit-text-stroke: 1px #848484; }

.full-stars:before {
  -webkit-text-stroke: 1px orange; }

/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
  .full-stars {
    color: #ECBE24; } }

/* CONTACTS */
.map {
  border: solid 1px #dddddd;
  height: 333px; }

/* DIALOG - LEAVE ITEMS IN CART?*/
.ui-dialog {
  border: solid 1px #dddddd !important;
  border-radius: 10px !important;
  padding: 5px !important; }

.keep-button {
  background-color: #2F3293 !important;
  border: solid 1px white !important;
  border-radius: 5px !important;
  color: white !important; }

.erase-button {
  background-color: #e54a5a !important;
  border: solid 1px white !important;
  border-radius: 5px !important;
  color: white !important; }

.ui-dialog-titlebar {
  background-color: #2F3293 !important;
  border: solid 1px white !important;
  border-radius: 5px !important;
  color: white !important; }

.no-close .ui-dialog-titlebar-close {
  display: none; }

/* FRONT  PAGE*/
.front-product {
  float: left;
  width: 19%;
  padding: 10px;
  border: solid 1px #dddddd;
  border-radius: 10px;
  margin: 0 3px 10px 3px; }
  .front-product img {
    padding: 5px; }
  .front-product a {
    color: #4379C5 !important;
    text-decoration: none;
    cursor: pointer; }
  .front-product a:hover {
    color: #4379C5 !important;
    text-decoration: none; }

@media screen and (max-width: 1200px) {
  .front-product {
    width: 32%;
    float: left; } }

@media screen and (max-width: 570px) {
  .front-product {
    width: 100%;
    float: none; } }

.front-book-title {
  height: 60px; }

@media screen and (max-width: 570px) {
  .front-book-title {
    height: auto; } }

.front-book-authors {
  height: 40px; }

@media screen and (max-width: 570px) {
  .front-book-authors {
    height: auto; } }

.front-row {
  width: 95%;
  margin: 0 auto; }

.front-image {
  border-radius: 10px;
  margin-top: 10px; }

/* BUTTON COLOR REWRITE*/
.btn-prim {
  color: #FFFFFF;
  background-color: #2F3293;
  border-color: #2F3293; }

.btn-prim:hover,
.btn-prim:focus,
.btn-prim:active,
.btn-prim.active,
.open .dropdown-toggle.btn-prim {
  color: #FFFFFF;
  background-color: #2F3293;
  border-color: #2F3293; }

.btn-prim:active,
.btn-prim.active,
.open .dropdown-toggle.btn-prim {
  background-image: none; }

.btn-prim.disabled,
.btn-prim[disabled],
fieldset[disabled] .btn-prim,
.btn-prim.disabled:hover,
.btn-prim[disabled]:hover,
fieldset[disabled] .btn-prim:hover,
.btn-prim.disabled:focus,
.btn-prim[disabled]:focus,
fieldset[disabled] .btn-prim:focus,
.btn-prim.disabled:active,
.btn-prim[disabled]:active,
fieldset[disabled] .btn-prim:active,
.btn-prim.disabled.active,
.btn-prim[disabled].active,
fieldset[disabled] .btn-prim.active {
  background-color: #2F3293;
  border-color: #2F3293; }

.btn-prim .badge {
  color: #2F3293;
  background-color: #FFFFFF; }

